@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background-color: black;
  cursor: pointer;
  border: 2px solid white;
  transition: background 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background-color: black;
  cursor: pointer;
  border: 2px solid white;
}

a.active {
  font-weight: bold;
  font-size: 22px;
  transition: all 0.3s ease;
}

/* Works in most modern browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}